*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width:100%;
    margin: 0 auto;
    padding: 0 15px;
}
.col-12{
    width: 100%;
}
.teams-inner{
    height: 200px;
    background-color: black;
}
.teams .col-12:nth-child(2) .teams-inner{
    background-color: red;
}
.teams .col-12:nth-child(3) .teams-inner{
    background-color: yellow;
    
}
.teams .col-12:last-child .teams-inner{
    background-color: blue;
}