*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
	font-family: 'Montserrat';
}
a,i,span{
	display:inline-block;
	text-decoration:none;
}
li{
	list-style:none;
}
.container{
	max-width:1320px;
	margin:0 auto;
	padding:0 15px;
}
.d-flex{
	display:flex;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.justify-between{
	justify-content:space-between;
}
.align-item-center{
	align-items:center;
}
.realative{
	position:relative;
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
}
.col-3{
	width:25%;
}
.col-4{
	width:33.33%;
}
.col-5{
	width:40.66%;
}
.col-6{
	width:50%;
}
.col-7{
	width:58.33%;
}
.col-8{
	width:66.66%;
}
.col-9{
	width:75%;
}
.col-10{
	width:83.33%;
}
.col-11{
	width:91.66%;
}
.col-12{
	width:100%;
}
.h-100{
	height:100%;
}
.them-btn{
	padding:10px 15px;
}
.text-center{
	text-align:center;
}
.justify-center{
	justify-content:center;
}

/* HEADER */

.topbar{
	background-color:#0aaaa0;
	padding:10px 0;
}
.topbar ul li a {
	color:white;
}
.topbar ul li a span{
	font-size:13px;
}
.topbar ul:first-child li:not(:last-child){
	margin-right:15px;
}
.topbar ul:last-child li:not(:first-child){
	margin-left:10px;
}
.ri-mail-fill, .ri-phone-fill{
	margin-right:10px;
}
.navbar{
	padding:20px 0;
}
.navbar nav li a{
	margin: 0 15px;
	color:#000;
	font-weight:400;
}
.navbar nav + a{
	background-color:#0aaaa0;
	color:#fff;

}

/* BANNER */
.banner{
	background-image:url("../img/banner.webp");
	background-size:cover;
	background-position:center;
	height:750px;
}
h1{
	color:#fff;
	font-size:40px;
}
.banner-content p{
   margin:30px 0;
   line-height:20px;
   font-size:15px;
   color:#fff;
}
.banner-content a {
	border:2px solid #555;
    margin-right:20px;
	color:#fff;
}

/* CAUSES */

.causes{
	padding: 100px 0;
}

.causes-title img{
	margin: 20px 0;
}
.causes-title span{
	color: #0aaaa0;
}
.causes-title p{
	margin-bottom:25px;
}
.causes-title h2{
	font-size: 36px;
}
.cause-content{
	background-color:#f1f1f1;
	padding: 40px;
}
.cause-content h3{
	font-size: 20px;
	padding-bottom: 14px;
	text-align: center;
}
.cause-content p{
	font-size: 14px;
}
.cause-item img{
	display: block;
}
.cause-item a{
	color: #555555;
	border: 2px solid #555555;
}
.causes-item, ul{
	margin-top: 20px;
}
.cause-item{
	margin-right:30px;
}

/* HELP */

.helps{
	background-image:url("../img/help-bg.webp");
	background-size:cover;
	background-position:center;
	padding:100px 0;
}	
.help-title{
	color:#fff;
	/* max-width:500px; */
	/* margin:0 auto; */
}
.help-title h2{
	font-size:36px;
	margin-bottom:25px;	
}
.help-title p{
	font-size:14px;
	margin-bottom:25px;	
}
.help-inner i{
	font-size:30px;
	padding:10px;
	border: 2px solid #0aaaa0;
	margin-right:30px;
}
.help-inner ul ,.help-inner a{
	color:#fff;
}
.help-inner p{
	margin:20px 0;
}
.help-item li:last-child  a{
	border: 1px solid #ffffff;
	font-size: 14px;
}
/* GALLERY */

.gallery{
	padding:100px 0;
}
.gallery-item{
	max-width:570px;
	margin:0 auto;
	margin-bottom:25px;
}
.gallery-item h2{
	font-size:36px;
}
.gallery-item h2 span{
	color:#0aaaa0;
}
.gallery-item  p{
	font-size:15px;
	margin-bottom:50px;
}
.gallery-item  img{
	margin:25px 0;
}
.gallery-item ul a{
	color:#000;
	font-size:15px;
	font-weight:600;
}
.gallery-item li{
	margin-left:20px;
}
.gallery-item li:first-child a{
	color:#0aaaa0;
}
.gallery-inner{
	margin:10px;
}

/* EVENT */

.events{
	background-image:url("../img/event-bg.webp");
	background-size:cover;
	background-position:center;
	padding:100px 0;
}

.event-item ul i {
	color:#fff;
    font-size:28px;
}
.event-item li{
	margin-left:25px;
	
}
.event-item li h3 {
	color:#fff;
    font-size: 20px;
    font-weight:700;
	margin-bottom:13px;
}
.event-item li p {
	color:#fff;
    font-size:15px;
}

 /* VOLUNTEERS */
 
 .volunteers{
	padding:100px 0;
 }
 .volunteer-title{
	max-width:570px;
	margin:0 auto;
	margin-bottom:25px;
}
.volunteer-title h2{
	font-size:36px;
}
.volunteer-title h2 span{
	color:#0aaaa0;
}
.volunteer-title  p{
	font-size:15px;
	margin-bottom:50px;
}
.volunteer-title  img{
	margin:25px 0;
}
.volunteer-text{
	margin-top:15px;
}
.volunteer-img{
	margin-right:50px;
}

/* BLOAG */

.blogs{
	padding:50px 0 100px 0;
 }
.blog-title{
	max-width:570px;
	margin:0 auto;
	margin-bottom:25px;
}
.blog-title h2{
	font-size:36px;
}
.blog-title h2 span{
	color:#0aaaa0;
}
.blog-title  p{
	font-size:15px;
	margin-bottom:50px;
}
.blog-title img{
	margin:25px 0;
}
.blog-inner img{
	display:block;
}
